img{
    border-style: solid;
    padding: 5px 30px;
    background-color: whitesmoke;
}

h1{
    text-align: center;
    text-decoration: underline;
}

h3{
    text-decoration: underline;
}